<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      h1,h2{
        text-align: center;
        background: cyan
      }
      th{background: blue;
      color:white
    }
    td{
      background: yellow;
      color:red;
    }
    table{
      margin:auto;
      margin-top: 50px;
    }
    </style>
  </head>
  <body>
    <h1>consumig 3rd party api's demo</h1><hr><hr>
    <h2>your geographic information is:</h2>
    <table border=2>

    <thead>




    <th>your ip address</th>
    <th>your continent name</th>
    <th>your country name</th>
    <th>your region name</th>
    <th>your city name</th>
    <th>your zip</th>
    <th>your latitude</th>
    <th>your longitude</th>
  </thead>
  <tr>
    <td>{{ip}}</td>
    <td>{{continent_name}}</td>
    <td>{{country_name}}</</td>
    <td>{{region_name}}</td>
    <td>{{city}}</td>
    <td>{{zip}}</td>
    <td>{{latitude}}</td>
    <td>{{longitude}}</td>
  </tr>
    </table>

  </body>
</html>
